/**
 * blog css 
 * a:hover: #10D07A 
 * 基本色：#333 
 * 或者 #3d3d3d   
 * bgcolor：#10D07A  ， color：#fff
 * blog-color  单独的颜色突出
 * .blog-bor    border:1px solid #e5e5e5
 * css复用 与 规范化
 */

/* TODO 公共CSS开始 */
html {
    width:100%;
    height:100%;
}
body {
    width:100%;
    height:100%;
    line-height: 24px;
    background-color: #f2f2f2;
    color: #333;
}
.blog-sm-search {
	margin-top: 0.5rem;
}
a:hover {
    color:#10D07A;
}
.blog-container {
	margin-top:3rem;
}
.blog-content {
	padding: 1rem 2rem;
	background: #FFF;
}
.blog-header {
    background-color:#393D49;
    text-align:center;
    top: 0;
}
.blog-footer {
    padding:3rem 0 2rem 0;
    margin-top:5rem;
    background-color:#2F4056;
    color:#fff !important
}
.blog-footer a{
    color:#fff;
}
.blog-footer span {
    color:#fff;
}
.blog-btn-search {
	height: 32px !important;
}

/**
 * 覆盖amazeui的样式
 */
.am-topbar a {
	color: #FFFFFF;
}
.am-topbar-nav>li.am-active>a, .am-topbar-nav>li.am-active>a:focus,.am-topbar-nav>li.am-active>a:hover{
    border-radius: 0;
    color: #FFFFFF;
    background-color:#009688;
    text-align:center;
}
.am-topbar-nav>li>a:hover:after {
     opacity: 0; 
}
@media only screen and (min-width: 641px) {
	.am-topbar-nav>li.am-active>a:after {
    	opacity: 0;
    }
}
@media only screen and (min-width: 1200px) {
      .blog-fixed {
        max-width: 1200px;
      }
}

.blog-nav {
    padding:0 1.3rem;
}

.blog-nav li a:hover{
    background-color:#009688;
    color:#FFFFFF;
}

.blog-logo{
	font-size: 20px;
	font-family:fantasy;
	color: #FFF;
}

#blog hr {
    margin:0.6rem 0;
}

.blog-btn-mobile {
    height:100%;
    margin-left:1.5rem;
    background-color:#009688;
    color: #FFF;
}

.blog-text-center {
    text-align:center;
}

.blog-panel {
	background: #FFF;
	padding: 0 2rem;
}

.blog-panel-body {
	padding: 1rem 0rem;
}

.blog-panel-title {
    height: 40px;
    border-bottom: 1px solid #90bba8;
}

.blog-panel-title h2 {
    line-height: 45px;
    font-weight: normal;
    font-size: 16px;
}

.blog-panel hr {
	background: #5FB878;
}

.blog-margin-top {
	margin-top: 1rem !important;
}

.blog-margin-bottom {
	margin-bottom: 1rem !important;
}

.blog-color-author {
	color: #01AAED;
}

.blog-color-clock {
	color: #ED0156;
}

.blog-color-eye {
	color: #01AAED;
}

.blog-color-comment {
	color: #01AAED;
}
.blog-color-heart {
	color: #ED0156;
}

.blog-item-list {
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	list-style: decimal-leading-zero inside;
	*list-style-type: decimal inside;
	color: #009E94;
	display: flex;
	justify-content: space-between;
}
.blog-item-link {
	max-width: 72%;
    position: relative;
    font-size: 14px;
    padding: 0 0 0 15px;
    transition: color .2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-item-link:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 50%;
    margin-top: -4px;
/*     vertical-align:middle; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #CFCFCF;
}

.blog-item-list span {
	color: #AAA;
	font-size: 12px;
}

.blog-item-top-0:before{
    background: #FF0000;
}

.blog-item-top-1:before{
    background: #FF8040;
}

.blog-item-top-2:before{
    background: #00FF00;
}

.blog-item-top-3:before{
    background: #FFFF00;
}

.blog-item-top-4:before{
    background: #CFCFCF;
}

/* TODO iconfont定义开始  */
/**
 * 
 * 阿里巴巴 iconfont
 * 
 */
@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot?t=1477416582');
	/* IE9*/
	src: url('iconfont.eot?t=1477416582#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff?t=1477416582') format('woff'), /* chrome, firefox */
	url('iconfont.ttf?t=1477416582') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('iconfont.svg?t=1477416582#iconfont') format('svg');
	/* iOS 4.1- */
}
/* TODO 公共CSS结束 */


/* 主页CSS开始 TODO */
.blog-notice {
	padding: 0.25rem 0.625rem;
	background: #FFF;
	margin-bottom: 0.5rem;
}
.blog-notice i {
	color: #FF5722;
	margin-right: 0.625rem;
}
.blog-notice span {
	color: #777;
	font-size: 12px;
}
/* 轮播*/
.am-active {
	background: #1abc9c !important;
}

.blog-entry-text {
    padding: 1rem 2rem;
    background-color: #FFF;
    /*border: 1px solid;*/
    /*border-color: #eee;*/
    margin-bottom: 0.5rem;
    text-align: left;
}

.blog-entry-text:hover {
    border-left: 5px solid #009688;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.blog-category {
    color: #fff;
    background-color: #1abc9c;
    padding: 3px 6px;
    font-size: 10px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}
.blog-category i {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -4px;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-left: 4px solid #1abc9c;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
.blog-list-title {
	font-size: 16px;
}
.blog-list-hint {
	padding-top: 0.2rem;
	font-size: 10px;
}
.blog-list-tips {
	color: #F7B824;
}
.blog-list-content {
	padding: 0.2rem 0;
	text-indent: 2em;
	font-size: 14px;
    line-height: 22px;
	color: #777;
}
.blog-list-foot {
	font-size: 8px;
	text-align: left;
}
.blog-list-foot i {
	margin-right: 5px;
}
.blog-list-foot span {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #EEE;
}
.blog-list-foot a {
	margin:0.15rem 0.15rem;
    font-size: 10px;
    float:right;
    color:#009688;
}
.blog-list-foot a:hover {
	color:#5FB878;
}

/* 主页CSS结束 TODO */


/* 右侧侧边栏开始 TODO */
.blog-left-category {
	display: inline-block;
    min-width: 10px;
    margin: 0.25em 0;
/*     width:32.5%; */
    padding: .5em .625em;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #999;
    cursor: pointer;
}
.blog-left-category0 {
	background-color:#FF5722;
}
.blog-left-category1 {
	background-color:#5FB878;
}
.blog-left-category2 {
	background-color:#F7B824;
}
.blog-left-category3 {
	background-color:#01AAED;
}
.blog-left-category4 {
	background-color:#999;
}
/* 右侧侧边栏结束TODO */


/* 详情CSS开始 TODO */
.article-detail-title {
    text-align: center;
    margin: 20px 0px;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 8px #000000;
    font-size: 24px;
}
.article-detail-info {
    border: 1px dashed #808080;
    text-align: center;
}
.article-detail-nav {
	background: #FFFFFF;
    padding: 0.25rem 1rem;
    margin-bottom: 0.1rem;
}
.article-detail-nav a {
	color: #1abc9c;
}
.article-detail-nav a:hover {
	color: #000000;
}
.article-detail-tips {
	padding-top: 0.2rem;
	font-size: 10px;
}
.article-detail-tip-c {
	margin: auto 4px;
}
.article-detail-tag {
	font-size: 8px;
}
.article-detail-tag span {
	display: inline-block;
    min-width: 10px;
    padding: .25em 0.25em;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #EEE;
    margin: auto 0.25rem;
}

/* TODO详情CSS结束  */


/* TODO评论CSS开始 */
.blog-comment-post {
	/*height: 40px;*/
    border-bottom: 1px solid #E2E2E2;
    /*border-top: 1px solid #E2E2E2;*/
    padding: 0.5rem 0;
}
/* TODO评论CSS结束 */
