@charset "UTF-8";

/* bootstrap 的样式 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1,
.h1 {
	font-size: 36px;
}
h2,
.h2 {
	font-size: 30px;
}
h3,
.h3 {
	font-size: 24px;
}
h4,
.h4 {
	font-size: 18px;
}
h5,
.h5 {
	font-size: 14px;
}
h6,
.h6 {
	font-size: 12px;
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
/* bootstrap 的 a 设置 */
a {
	color: #337ab7;
	text-decoration: none;
}
a:hover,
a:focus {
	/* bootstrap 为 #23527c，太暗 */
	// color: #23527c;
	color: #0044cc;
	// text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
img {
	vertical-align: middle;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button,
input,
optgroup,
select,
textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled],
html input[disabled] {
	cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}
input {
	line-height: normal;
}
table {
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}
td,
th {
	padding: 0;
	text-align: left;
}
caption {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #777;
	text-align: left;
}
pre {
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #ccc;
}

/* 全局字体 */
body, div, span, a, p, pre, code, button, input, select, textarea, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, table, th, td {
	font-family: "Microsoft YaHei", 微软雅黑, "Helvetica Neue", Arial, "\5b8b\4f53", sans-serif;
}

/* 全局margin padding */
body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form,  fieldset, legend, input, button, textarea, blockquote, th, td, img {
	margin: 0;
	padding: 0;
	// color: #000000;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.1;
}

/* 全局背景色
 常用灰色到黑色值: cccccc 999999 666666 333333 000000 bebebe
 */
body {
	color: #333333;
	background-color: #e9ebee;
}

body,
div,
p {
	word-wrap: break-word;
}

/* 全局 p */
p {
	/*font-size: 18px;*/
	/*line-height: 30px;*/

	/*line-height: 1.5;*/
	/*text-indent: 2em;*/
}

.jf-pull-left {
	float: left !important;
}
.jf-pull-right {
	float: right !important;
}

/* 去掉border圆角 */
.jf-border-radius-0 {
	border-radius: 0;
}
/* 用于将 btn label 样式修饰的 btn label a 的组件变成撑满空间的可点击的区块 */
.jf-display-block {
	display: block;
}

/* 去掉btn 与 label 的 border圆角，通过覆盖原有样式达到定制 bootstrap的目的 */
.btn, .label {
	border-radius: 0;
}

.jf-btn {
	padding: 3px 0.7em;
	margin-right: 5px;
	font-size: 18px;
	color: #fff;
	border-radius: 3px;
}
.jf-btn:hover,
.jf-btn:active,
.btn:hover,
.btn:active {
	color: #fff;
	background-color: #286090;
}

/* 头部 */
.jf-header-box {
	position: relative;
	width:1100px;
	height:50px;
	line-height: 1.5;
	margin: 0 auto 20px auto;
	background-color: #3a5795;
	// background-color: #47639E;
	color:#ffffff;
	box-shadow: 0 0 7px 2px #dcdcdc;
	border-radius: 2px;

	// border-bottom: 1px solid #103480;
}
.jf-header-box a {
	/* color: #ffffff; */
	/* color: #fefefe; */
	color: #eeeeee;
	text-decoration: none;
}

/* 导航 logo */
.jf-logo-box {
	float: left;
	margin-left: 20px;
}
.jf-logo-box > a {
	line-height: 50px;
	font-size: 35px;
	// font-size: 32px;
	// font-weight: bold;
	display: block;
}

/* 导航主菜单 */
.jf-nav-menu-box {
	float: left;
	margin-left: 60px;
	list-style-type: none;
}
/* 导航主菜单项之间的左间距 */
.jf-nav-menu-box > li {
	float: left;
}
.jf-nav-menu-box > li > a {
	display: block;
	text-align: center;
	margin-right: 14px;
	width: 100px;
	height: 50px;
	font-size: 21px;
	// font-size: 22px;
	line-height: 56px;
	text-decoration: none;
}
.jf-nav-menu-box > li > a:hover {
	background-color: #000000;
}
.jf-nav-menu-current {
	background-color: #000000;
}

/* 中部容器 */
.jf-body-box {
	width:1100px;
	/*min-height: 800px;*/
	margin: 20px auto;
	/*background-color: #ffffff;*/
}

/* 脚部容器 */
.jf-footer-box {
	font-size: 14px;
	margin: 20px auto 20px auto;
	padding: 10px 0;
	width:1100px;
	height: 50px;
	text-align: center;
	border-top: 1px solid #999999;
	/*border-top: 1px  #737373 solid;*/
}
.jf-footer-box ul {
	/* ul 的 inline-block 极度关键，这样能配合父元素的 text-align:center 使整个 ul 居中显示 */
	display: inline-block;
	list-style-type: none;
}
.jf-footer-box li {
	float: left;
	margin: 0 30px 0 0;
}
.jf-footer-box li a {
	display: block;
	/* 让 a 元素更大些，利于点击 */
	padding: 0.5em;
	text-decoration: none;
	color: #333333;
}

.jf-border-red {
	border: 1px solid red;
}
.jf-border-black {
	border: 1px solid black;
}
.jf-border-blue {
	border: 1px solid blue;
}
.jf-border-green {
	border: 1px solid green;
}
.jf-border-yellow {
	border: 1px solid yellow;
}

/* ----------------------------------------------------------------------------------- */
/* 面板容器 */
.jf-panel-box {
	width:780px;
	line-height: 1.5;
	font-size: 18px;
}
/* 面板 */
.jf-panel,
.jf-sidebar,
.jf-article,
.jf-reply,
.jf-my-panel {
	/* background-color: #ffffff; */
	background-color: #fefefe;
}
.jf-panel,
.jf-my-panel,
.jf-doc-panel {
	margin: 0 0 20px 0;
	padding: 0 30px;
	box-shadow: 0 0 7px 2px #dcdcdc;
	border: 1px solid #cccccc;
	/*border: 1px solid #bebebe;*/
	border-radius: 2px;
}
/* 面板名称 */
.jf-panel-name,
.jf-my-panel-name {
	padding: 9px 0;
	color: #23527c;
	font-size: 28px;
	// border-bottom: 1px solid #a8a8a8;
	// font-weight: bold;
}
.jf-panel-name > a,
.jf-my-panel-name > a {
	color: #23527c;
// color: #337ab7;
	text-decoration: none;
}
/* 首页 panel 上的更多链接 */
.jf-panel-more {
	float: right;
	margin: -35px 12px 0 0;
	font-size: 20px;
	color: #23527C;
}

/* 面板内部列表 */
.jf-panel-list {
	list-style-type: none;
	overflow: hidden;
}
.jf-panel-list > li {
	padding: 15px 0;
	min-height: 90px;
	// border-bottom: 1px dashed #a8a8a8;
	// border-bottom: 1px solid #ccc;
	border-bottom: 1px solid #ddd;
	// border-bottom: 1px solid #eee;
}
.jf-panel-list > li:last-child {
	border-bottom-width: 0;
}

/* 面板内部左侧图像 */
.jf-panel-img {
	float: left;
	margin-top: 3px;
}
.jf-panel-img img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
}
.jf-panel-item {
	margin-left: 80px;
	/*width: 658px;*/
}
.jf-panel-item > h3 {
	font-size: 21px;
	margin-bottom: 6px;
 }
.jf-panel-item > h3 > a {
	color: #337ab7;
	text-decoration: none;
}
.jf-panel-item > h3 > a:hover {
	// text-decoration: underline;
	/* 这里应该稍亮的颜色，或者就为 #337ab7，然后原来的颜色改深 */
	color: #365899;
	// color: #23527c;
	// color: #576B95;
}
.jf-panel-item p {
	font-size: 16px;
	// line-height: 1.5;
	line-height: 28px;
	color: #252525;
}
.jf-panel-other {
	font-size: 14px;
	line-height: 28px;
	color: #252525;
	text-align: right;
}
.jf-panel-other .crateAt{
	color: #365899;
}
.jf-panel-other .views{
	color: #dcae23;
}

/* ----------------------------------------------------------------------------------- */
/* 侧边栏容器 */
.jf-sidebar-box {
	width:300px;
	line-height: 1.2;
	font-size: 16px;
}
/* 侧边栏 */
.jf-sidebar {
	margin: 0 0 20px 0;
	box-shadow: 0 0 7px 2px #dcdcdc;
	/*min-height: 100px;*/
	border: 1px solid #cccccc;
	border-radius: 2px;
}
/* 侧边栏列表项文件字降低灰度，以便突出 panel 内容 */
.jf-sidebar li,
.jf-sidebar li a {
	color: #666666;
	text-decoration: none;
}
/* 完美长度的链接，不换行，超出边界长度用省略号省略 */
.jf-perfect-length-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 侧边栏按钮 */
.jf-sidebar-btn {
	display: block;
	border: 0;
	border-radius: 2px;
}
.jf-sidebar-btn:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
/* 侧边栏名称 */
.jf-sidebar-name {
	// margin: 0 15px;
	margin: 10px 15px 10px 15px;
	color: #23527c;
	text-decoration: none;
	font-size: 22px;
	line-height: 22px;
// font-weight: bold;

	// border-bottom: 1px solid #a8a8a8;
}
.jf-sidebar-name a {

	color: #23527c;
	// color: #337ab7;
	text-decoration: none;
}

.jf-sidebar-hot-list {
	list-style-type: none;
	overflow: hidden;
	padding: 0 20px 10px 20px;
	clear: both;
}
.padding-left-25 {
	padding-left: 25px;
}
.jf-sidebar-hot-list > li {
	// border-bottom: 1px dashed #a8a8a8;
	// border-bottom: 1px solid #e8e8e8;
	// padding: 8px 0 6px 0;
	padding: 5px 0;
}
.jf-sidebar-hot-list > li:last-child {
	border-bottom-width: 0;
}
.jf-sidebar-donate-money,
.jf-sidebar-donate-fans {
	font-size: 18px;
	color: #666;
}
.jf-sidebar-donate-money {
	float: left;
	width: 110px;
}


/* ----------------------------------------------------------------------------------- */
/* 热门列表 */
.jf-sidebar-hot-list li a {
	display: block;
	text-decoration: none;
	color: #2d64b3;
	font-size: 18px;
	// line-height: 36px;
	/* 以下三行实现超出部分使用省略号的效果 */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.jf-sidebar-hot-list li a:hover {
	// color: #365899;
	// color: #23527c;
	// color: #576B95;
}

/* 分页 */
.jf-paginate {
	text-align: center;
	list-style-type: none;
	margin: 20px 0;
}
.jf-paginate li {
	display: inline;
}
.jf-paginate a {
	display: inline;
	margin-right: 2px;
	// font-family: Courier New, Arial;
	font-size: 16px;
	color: #58595b;
	background-color: #f0f0f0;
	padding: 4px 8px;
	text-decoration: none;
}
.jf-paginate a.current-page {
	background-color: #6e7b8b;
	color: #ffffff;
	font-weight: bold;
}
.jf-paginate a.pre-page,
.jf-paginate a.next-page {
	background-color: #cccccc;
	font-weight: bold;
}
.jf-paginate a:hover {
	background-color: #6e7b8b;
	color: #ffffff;
}


/* 文章、回复 */
.jf-article,
.jf-reply {
	margin: 0 0 20px 0;
	padding: 0 30px 0 30px;
	box-shadow: 0 0 7px 2px #dcdcdc;
	border: 1px solid #cccccc;
	border-radius: 2px;
}
.jf-article {
	min-height: 330px;
}

/* 文章标题 */
.jf-article-title {
	text-align: center;
	padding: 20px 0 5px 0;
	font-size: 30px;
	letter-spacing: 1px;
	color: #404040;
	// font-weight: bold;
}

/* 文章发布者图相、名字、日期 */
.jf-article-meta {
	color: #888888;
	border-bottom: 1px solid #b0b0b0;
	padding-bottom: 10px;
	margin-bottom: 12px;
}
.jf-article-create-at {
	font-size: 16px;
	color: #999999;
}
.jf-report {
	font-size: 14px;
	color: #999999;
}
.jf-report:hover {
	cursor: pointer;
}
.jf-article-meta .jf-report {
	float: right;
	margin: 12px 10px 0 0;
}

.jf-article-meta img {
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin-right: 4px;

}
.jf-article-meta span {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

/* 文件章内容 */
.jf-article-content {
	font-size: 18px;
	line-height: 30px;
	margin: 12px 0 15px 0;
	// border: 2px solid red;
	overflow: hidden;
}
/* 防止图片超出父标签所能容许的最大范围 */
.jf-article-content img {
	max-width: 100%
}

.jf-article-content p,
.jf-article-content ul,
.jf-article-content ol,
.jf-article-content dl {
	font-size: 18px;
	// margin-bottom: 14px;
	margin-bottom: 16px;
}
/* ueditor 会自动在 li 标签内生成 p 标签，故复位其 margin */
.jf-article-content li > p {
	margin: 0;
}
.jf-article-content pre,
.jf-article-content code {
	font-size: 16px;
	line-height: 1.42;
	margin-bottom: 14px;
	border-radius: 2px;
}
.jf-article-content ul,
.jf-article-content ol,
.jf-article-content dl {
	padding-left: 30px;
}
.jf-article-content h1,
.jf-article-content h2,
.jf-article-content h3,
.jf-article-content h4,
.jf-article-content h5,
.jf-article-content h6 {
	font-weight: normal;
	color: #222222;
}
.jf-article-content h1 {
	// font-size: 28px;
	font-size: 1.8em;
	margin: 0.67em 0;
}
.jf-article-content h2 {
	// font-size: 27px;
	font-size: 1.5em;
	margin: 0.83em 0;
}
.jf-article-content h3 {
	font-size: 1.17em;
	margin: 1em 0;
}
.jf-article-content h4,
.jf-article-content h5,
.jf-article-content h6 {
	font-size: 1em;
	margin: 1.6em 0 1em 0;
}
.jf-article-content h6 {
	font-weight: 500;
}
.jf-article-footer {
	text-align: left;
	margin-bottom: 20px;
}

.jf-tag-label {
	font-size: 22px;
	color: #23527c;
}
.jf-tag {
	display: inline-block;
	background-color: #337ab7;
	color: #fff;
	padding: 2px 8px;
	margin: 0 0 10px 5px;
}
.jf-tag:visited {
	color: #fff;
}
.jf-tag:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
