#include("/views/front/layout/__layout.html")
#include("/views/front/layout/_paginate.html")
#set(seoTitle="JFinalBlog")
#@layout()
#define main()
<div class="blog-content">
#for(x : blogPage.list)
    <article>
        <div>
            <span class="blog-author">作者：#(x.authorName) &nbsp;</span>
            <span class="blog-date">发表日期：#date(x.createAt, "yyyy-MM-dd HH:mm") &nbsp;</span>
            <span class="blog-author">浏览量：#(x.views) &nbsp;</span>
            <h3><a href="#(ctx)/b/view/#(x.id)">#(x.title)</a></h3>
            <p>#(x.summary)</p>
            <div class="blog-continue">
            	<a href="#(ctx)/b/view/#(x.id)" >阅读全文</a>
            </div>
        </div>
    </article>
#else
	没有任何数据
#end

<!-- 分页 -->
#@paginate(blogPage.pageNumber, blogPage.totalPage, "/s/?keyword=" + keyWord + "&p=")
</div>
<!-- 包含侧边栏文件 -->
<div class="blog-box">
	#include("/views/front/layout/_sidebar.html")
</div>
#end
