#define layout()
<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="keywords" content="#(seoKeywords ?? 'JFinalBlog')" />
	<meta name="description" content="#(seoDescr ?? 'JFinalBlog')" />
	<title>#(seoTitle ?? "JFinalBlog")</title>

	<link rel="icon" type="image/x-icon" href="#(ctx)/assets/front/img/favicon.ico">
	<link rel="stylesheet" type="text/css" href="#(ctx)/assets/front/css/jfinal-com-v1.0.css?v=15">
    <link rel="stylesheet" type="text/css" href="#(ctx)/assets/front/css/jfinal-com-my-space-v1.0.css?v=15">
    <link rel="stylesheet" type="text/css" href="#(ctx)/assets/front/iconfont/iconfont.css">
	
	### 模板函数安全调用，找到 css() 模板函数则调用，找不到则直接跳过
	### 适合于部分页面在 layout.html 提供的 css 文件之外，还需额外添加 css 资源的应用场景
	#@css?()

</head>

<body>
<!-- 头部容器 -->
<div class="jf-header-box">
	<!-- logo容器 -->
	<h3 class="jf-logo-box">
		<a href="/" title="返回首页">JFinalBlog</a>
	</h3>

	<!-- 导航菜单容器 -->
	<ul class="jf-nav-menu-box">
	#categoryDirective()
		#for(x:list)
			<li><a href="#(ctx)/c/#(x.id)">#(x.name)</a></li>
		#end
	#end
	</ul>
</div>

<!-- 中部主体容器 -->
<div class="jf-body-box clearfix">
	#@main()
</div>

<!-- 底部容器 -->
<div class="jf-footer-box">
	<ul>
		<li>&copy;JFinalBlog power by SPPan 2017</li>
	</ul>
</div>
<script type="text/javascript" src="#(ctx)/assets/front/js/jquery.min-v1.11.3.js"></script>
<script type="text/javascript" src="#(ctx)/assets/front/js/jfinal-com-v1.0.js?v=15"></script>

### 模板函数安全调用，找到 js() 模板函数则调用，找不到则直接跳过
### 适合于部分页面在 layout.html 提供的 js 文件之外，还需额外添加 js 资源的应用场景
#@js?()
</body>
</html>
#end