#define layout()
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>#(siteName??)</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="#(ctx)/assets/front/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="#(ctx)/assets/front/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="#(ctx)/assets/front/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="#(ctx)/assets/front/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="#(ctx)/assets/front/css/amazeui.min.css">
  <link rel="stylesheet" href="#(ctx)/assets/front/css/app.css">
  
	### 模板函数安全调用，找到 css() 模板函数则调用，找不到则直接跳过
	### 适合于部分页面在 layout.html 提供的 css 文件之外，还需额外添加 css 资源的应用场景
	#@css?()
</head>

<body>
<header class="am-topbar am-topbar-fixed-top">
<nav class="am-g am-g-fixed blog-fixed blog-nav">
  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav nav-menu-box">
    #categoryDirective()
		#for(x:list)
			<li><a href="#(ctx)/c/#(x.id)">#(x.name)</a></li>
		#end
	#end
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
      </div>
    <div class="am-form-group">
      	<button class="am-btn am-btn-primary">搜索</button>
    </div>
    </form>
  </div>
</nav>
</header>


<!-- content srart -->
<div class="am-g am-g-fixed container">
#@main()
</div>
<!-- content end -->


<footer data-am-widget="footer" class="am-footer am-footer-default">
    <div class="am-footer-miscs ">
        <p>CopyRight©2016  jfinalblog.</p>
        <p>power by SPPan</p>
    </div>
  </footer>



<!--[if (gte IE 9)|!(IE)]><!-->
<script src="#(ctx)/assets/front/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="#(ctx)/assets/front/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="#(ctx)/assets/front/js/amazeui.min.js"></script>
<!-- <script src="#(ctx)/assets/front/js/app.js"></script> -->
<script type="text/javascript">
$(document).ready(function() {
	setCurrentNavMenu();
});
/**
 * 设置当前导航菜单
 */
function setCurrentNavMenu() {
	var url = location.pathname, navMenus = $(".nav-menu-box li");
	$.each(navMenus, function(p1, p2) {
		if (!url.indexOf('/c/' + p1)){
			navMenus.eq(p1).addClass("am-active");
		}
	});
}

</script>

### 模板函数安全调用，找到 js() 模板函数则调用，找不到则直接跳过
### 适合于部分页面在 layout.html 提供的 js 文件之外，还需额外添加 js 资源的应用场景
#@js?()
</body>
</html>
#end