<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="#(ctx)/assets/front/css/base.css" rel="stylesheet">
<link href="#(ctx)/assets/front/css/index.css" rel="stylesheet">
<script src="#(ctx)/assets/front/js/jquery.min.js" type="text/javascript" ></script>
<script src="#(ctx)/assets/front/js/sliders.js" type="text/javascript"></script>
<!--[if lt IE 9]>
	<script src="#(ctx)/assets/front/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div class="logo f_l"> 
  	<a href="/"><img src="#(ctx)/assets/front/images/logo.png"></a> 
  </div>
  <nav id="topnav" class="f_r">
    <ul>
      <a href="#(ctx)/">首页</a> 
      #categoryDirective()
	      #for(x : list)
	      	<a href="#(ctx)/?c=#(x.id)">#(x.name)</a> 
	      #end
      #end
    </ul>
    <script src="#(ctx)/assets/front/js/nav.js" type="text/javascript"></script> 
  </nav>
</header> 
<article>
  <div class="l_box f_l">
  	#@main()
  </div>
  <div class="r_box f_r">
    <div class="tit01">
      <h3>当前用户</h3>
      <div class="gzwm">
        	用户名：#(loginUser.userName??)<br>
        	签　名：#(loginUser.description??)
      </div>
    </div>
    
    #include("/views/front/layout/_moreSelect.html")
    
    #include("/views/front/layout/_tags.html")
    
    #include("/views/front/layout/_tuwen.html")
    
  </div>
  <!--r_box end --> 
</article>
#include("/views/front/layout/_footer.html")
</body>
</html>
