#include("/views/front/layout/__layout.html")
#include("/views/front/layout/_paginate.html")
#@layout(blog.title)
#define css()
<link rel="stylesheet" href="#(ctx)/assets/front/css/editormd.css"/>
<link rel="stylesheet" href="#(ctx)/assets/front/js/plugins/prettify/sunburst-by-james-for-prettify.css"/>
#end
#define main()
<!--nav start-->
<div class="article-detail-nav">
	<a href="#(ctx)/"><i class="am-icon-home"></i>首页</a> 
	<i class="am-icon-angle-double-right"></i> <a href="#(ctx)/b/#(c.id??)">#(c.name??)</a>
	<i class="am-icon-angle-double-right"></i> <a>#(blog.title)</a>
</div>
<!--nav end-->

<!--blog start -->
<div class="blog-content">
	<!-- blog header start -->
	<div class="article-detail-header blog-text-center">
		<h1 class="article-detail-title">#(blog.title)</h1>
		<div class="article-detail-tips article-detail-info">
			<span><i class="am-icon-user blog-color-author" title="作者"></i>&nbsp;#(blog.authorName)</span>&nbsp; 
			<span><i class="am-icon-clock-o blog-color-clock" title="时间"></i>&nbsp;#date(blog.createAt, "yyyy-MM-dd HH:mm")</span>&nbsp; 
			<span><i class="am-icon-eye-slash blog-color-eye" title="阅读"></i>&nbsp;阅读(<em>#viewsCountDirective(blog.id)</em>)</span>&nbsp;
			<span><i class="am-icon-comments-o blog-color-comment" title="评论"></i>&nbsp;评论(<em><span class="ds-thread-count" data-thread-key="#(blog.id)"></span></em>)</span>&nbsp; 
<!-- 			<span><i class="am-icon-heart-o blog-color-heart" title="点赞"></i> 点赞(<em>0</em>)</span> -->
		</div>
	</div>
	<!-- blog header end -->
	
	<!-- blog content start -->
	<div class="blog-margin-top markdown-body editormd-html-preview">
			#(blog.content)
	</div>
	<!-- blog content end -->

	<!-- blog tag  start -->
	<div class="blog-margin-top article-detail-tag">
		<span class="am-icon-tags"> &nbsp;</span> 
			#for(tag : blog.tags.split(",")??)
	    		<a href="#(ctx)/t/#(tag??)"><span class="am-radius">#(tag??)</span></a>
	    	#else
	    		没有标签
	    	#end
	</div>
	<!-- blog tag  end -->
	
</div>
<!--blog end -->

<!-- comment start-->
<div class="blog-content blog-margin-top">
	<div id="commentContainer"></div>
	<!-- 转载到开始 -->
	<div class="ds-share" data-thread-key="#(blog.id)" data-title="#(blog.title)" data-images="" data-content="" data-url="#(siteDomain)/b/view/#(blog.id)">
	   <div class="ds-share-inline">
	     <ul  class="ds-share-icons-16">
	       <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
	       <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
	       <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
	       <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
	       <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>
	     </ul>
	     <div class="ds-share-icons-more"></div>
	   </div>
	</div>
	<!-- 转载到结束 -->
</div>
<div class="blog-content blog-margin-top">
	<div id="commentContainer"></div>
	<!-- 发表评论开始 -->
	<div class="blog-comment-post">发表评论</div>
	<div class="layui-form-pane blog-margin-top">
		<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="#(blog.id)" data-title="#(blog.title)" data-url="#(siteDomain)/b/view/#(blog.id)"></div>
		<!-- 多说评论框 end -->
	</div>
	<!-- 发表评论结束 -->
</div>
<!-- comment end-->
#end
<script src="#(ctx)/assets/front/js/plugins/prettify/prettify.js"></script>
#define js()

<script type="text/javascript">
layui.use('jquery', function(){ //加载jquery模块
	var $ = layui.jquery;
	$(document).ready(function(){
		$("pre").addClass("prettyprint linenums");
		prettyPrint();
	});
});
</script>
#end
