#include("/views/front/layout/_layout.html")
#define main()
<!-- banner代码 结束 -->
<div class="topnews">
  <h2>
  	<b>文章</b>推荐
  </h2>
#for(x : blogPage.list)
   <div class="blogs">
     <figure>
     	<img src="#(ctx)/assets/front/images/01.jpg">
     </figure>
     <ul>
       <h3><a href="/">#(x.title)</a></h3>
       <p>#(x.summary)</p>
       <p class="autor">
        <span class="lm f_l"><a href="/">#(x.categoryName)</a></span>
        <span class="dtime f_l">#(x.createAt)</span>
        <span class="viewnum f_r">浏览（#(x.views)）</span>
        #--
        <span class="pingl f_r">评论（<a href="/">30</a>）</span>
        --#
       </p>
     </ul>
   </div>
 #end
</div>
#end